:root {
  --fr-black: #000000;
  --fr-darkdeep: #0a183a;
  --fr-darkgrey: #707070;
  --fr-blue: #304595;
  --fr-bluedark: #0c233f;
  --fr-bluelight: #7cc7d6;
  --fr-yellow: #304595;
  --fr-white: #ffffff;
  --fr-proximaregular: 'Proxima Nova Rg';
  --fr-proximasemibold: 'Proxima Nova Lt';
  --fr-proximaextrabold: 'Proxima Nova Th';
  --fr-avenirbook: 'Avenir LT Std';
}
/*-----------------------------
Font Face
-------------------------------*/
@font-face {
  font-family: 'Biko';
  src: url('font/Biko.eot');
  src: url('font/Biko.eot?#iefix') format('embedded-opentype'), url('font/Biko.woff2') format('woff2'), url('Biko.woff') format('woff'), url('Biko.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'San Francisco Text';
  src: url('SanFranciscoText-Medium.eot');
  src: url('SanFranciscoText-Medium.eot?#iefix') format('embedded-opentype'), url('SanFranciscoText-Medium.woff2') format('woff2'), url('SanFranciscoText-Medium.woff') format('woff'), url('SanFranciscoText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('font/ProximaNova-Semibold.eot');
  src: url('font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('font/ProximaNova-Semibold.woff2') format('woff2'), url('font/ProximaNova-Semibold.woff') format('woff'), url('font/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('font/ProximaNova-Regular.eot');
  src: url('font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('font/ProximaNova-Regular.woff2') format('woff2'), url('font/ProximaNova-Regular.woff') format('woff'), url('font/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Th';
  src: url('font/ProximaNova-Extrabld.eot');
  src: url('font/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('font/ProximaNova-Extrabld.woff2') format('woff2'), url('font/ProximaNova-Extrabld.woff') format('woff'), url('font/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('font/ProximaNova-Bold.eot');
  src: url('font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('font/ProximaNova-Bold.woff2') format('woff2'), url('font/ProximaNova-Bold.woff') format('woff'), url('font/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'San Francisco Display';
  src: url('SanFranciscoDisplay-Regular.eot');
  src: url('SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('SanFranciscoDisplay-Regular.woff2') format('woff2'), url('SanFranciscoDisplay-Regular.woff') format('woff'), url('SanFranciscoDisplay-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Biko';
  src: url('Biko-Bold.eot');
  src: url('Biko-Bold.eot?#iefix') format('embedded-opentype'), url('Biko-Bold.woff2') format('woff2'), url('Biko-Bold.woff') format('woff'), url('Biko-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir LT Std';
  src: url('font/AvenirLTStd-Book.eot');
  src: url('font/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), url('font/AvenirLTStd-Book.woff2') format('woff2'), url('font/AvenirLTStd-Book.woff') format('woff'), url('font/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*-----------------------------
General
-------------------------------*/
h1 {
  font-size: 46px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.display-4 {
  font-size: 46px;
}
.display-5 {
  font-size: 42px;
}
.display-6 {
  font-size: 34px;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 var(--fr-bluedark);
}
button {
  all: unset;
  color: blue;
  -webkit-text-fill-color: blue;
}
button:focus {
  outline: orange 5px auto;
}
*:focus {
  outline: none !important;
}
.text-outline {
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.text-headunderline {
  position: relative;
}
.text-headunderline::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--fr-white);
  left: 0;
  bottom: -20px;
}
.font-weight-extrabold {
  font-weight: 800;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-regular {
  font-weight: 400;
}
.fr-clr-darkgrey {
  color: var(--fr-darkgrey);
}
.fr-clr-blue {
  color: var(--fr-blue);
}
.fr-clr-darkdeep {
  color: var(--fr-darkdeep);
}
.bg-bluedark {
  background-color: var(--fr-bluedark);
}
.bg-blue {
  background-color: var(--fr-blue);
}
@media (min-width: 1024px) {
  .fr-services .pr-break {
    padding-right: 100px;
  }
}
@media (max-width: 1024px) {
  .fr-services .text-headunderline {
    min-height: 65px;
  }
  .fr-services .pr-break {
    padding-right: 50px;
  }
}
@media (max-width: 667px) {
  .fr-services .text-headunderline {
    min-height: inherit;
  }
  .fr-services .pr-break {
    padding-right: 0;
  }
}
/*-----------------------------
Site-footer
-------------------------------*/
.site-footer {
  background-color: var(--fr-bluedark);
  color: var(--fr-white);
  font-family: var(--fr-proximaregular);
  font-size: 20px;
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .site-footer {
    padding: 60px 0;
  }
}
.site-footer a {
  color: var(--fr-white);
}
.fr-mainmenu-footer .navbar-nav .nav-link {
  padding: 0;
  padding-right: 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .fr-mainmenu-footer .navbar-nav {
    flex-direction: row;
  }
}
@media (max-width: 668px) {
  .fr-mainmenu-footer .navbar-nav {
    flex-direction: column;
  }
}
.fr-subscribes {
  padding: 60px 0 100px 0;
}
@media (max-width: 1024px) {
  .fr-subscribes {
    padding: 60px 0 0 0;
  }
}
.fr-subscribes .form-control {
  width: 90%;
  color: var(--fr-white);
}
.fr-subscribes .form-group {
  border-bottom: 2px solid var(--fr-darkgrey);
}
.fr-subscribes .form-control::-webkit-input-placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-subscribes .form-control::placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-subscribes .form-control:-ms-input-placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-subscribes .form-control::-ms-input-placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-copyright {
  font-size: 16px;
  padding-top: 60px;
}
.fr-phonenumber {
  font-family: var(--fr-avenirbook);
}
/*-----------------------------
Color
-------------------------------*/
