:root {
  --fr-black: #000000;
  /* --fr-darkdeep: #0a183a;*/
  --fr-darkgrey: #707070;
  --fr-blue: #304595;
  --fr-bluedark: #0c233f;
  --fr-bluedeep: #282d66;
  --fr-bluelight: #7cc7d6;
  --fr-yellow: #ffc903;
  --fr-white: #ffffff;
  --fr-proximaregular: 'Proxima Nova Rg';
  --fr-proximasemibold: 'Proxima Nova Lt';
  --fr-proximaextrabold: 'Proxima Nova Th';
  /*--fr-sanfransisco:  'SanFranciscoText-Medium';
	--fr-avenirbook: 'Avenir LT Std';
    --fr-biko:'Biko';*/
}
/*-----------------------------
Font Face
-------------------------------*/
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('font/ProximaNova-Regular.eot');
  src: url('font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('font/ProximaNova-Regular.woff2') format('woff2'), url('font/ProximaNova-Regular.woff') format('woff'), url('font/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('font/ProximaNova-Semibold.eot');
  src: url('font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('font/ProximaNova-Semibold.woff2') format('woff2'), url('font/ProximaNova-Semibold.woff') format('woff'), url('font/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Th';
  src: url('font/ProximaNova-Extrabld.eot');
  src: url('font/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('font/ProximaNova-Extrabld.woff2') format('woff2'), url('font/ProximaNova-Extrabld.woff') format('woff'), url('font/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
/*-----------------------------
General
-------------------------------*/
h1 {
  font-size: 48px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
/*.display-3{
    font-size: 84px;
}
.display-4{
    font-size: 46px;
}
.display-5{
    font-size: 42px;
}
.display-6{
    font-size: 34px;
}
.display-7{
    font-size: 28px;
}*/
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 var(--fr-bluedark);
}
button {
  all: unset;
  color: blue;
  -webkit-text-fill-color: blue;
}
button:focus {
  outline: orange 5px auto;
}
*:focus {
  outline: none !important;
}
.text-outline {
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: var(--fr-proximaextrabold);
}
body {
  font-family: var(--fr-proximaregular);
}
.text-headunderline {
  position: relative;
}
.text-headunderline::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--fr-white);
  left: 0;
  bottom: -25px;
}
.heightFull {
  height: 100vh;
}
@media (max-width: 768px) {
  .heightFull {
    height: 50vh;
  }
}
/*
.font-weight-extrabold{    font-weight: 800; }
.font-weight-semibold{     font-weight: 600; }
.font-weight-regular{      font-weight: 400; }*/
.fr-clr-white {
  color: var(--fr-white);
}
.fr-clr-darkgrey {
  color: var(--fr-darkgrey);
}
.fr-clr-blue {
  color: var(--fr-blue);
}
/*.fr-clr-darkdeep{  color: var(--fr-darkdeep); }*/
.fr-clr-bluedeep {
  color: var(--fr-bluedeep);
}
.fr-clr-bluelight {
  color: var(--fr-bluelight);
}
.bg-bluedark {
  background-color: var(--fr-bluedark);
}
.bg-blue {
  background-color: var(--fr-blue);
}
.bg-yellow {
  background-color: var(--fr-yellow);
}
a {
  text-decoration: none;
  color: var(--fr-black);
}
a:hover {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.navbar-brand img {
  height: 40px;
}
@media (max-width: 667px) {
  .navbar-brand img {
    height: 22px;
  }
}
/*---------------------------
homepage
-----------------------------*/
.fr-homepage #section4 h2 a {
  font-size: 82px;
  font-family: var(--fr-proximaextrabold);
  color: #3a50a4;
  text-decoration: underline;
}
.fr-homepage .section {
  height: 100vh !important;
}
.fr-homepage .section .fr-number-work {
  font-size: 42px;
  font-family: var(--fr-proximasemibold);
}
.fr-homepage .section .fr-title-work {
  font-family: var(--fr-proximaextrabold);
  line-height: 84px;
  margin-left: -5px;
  font-size: 84px;
}
.fr-homepage .section .fr-desc-work {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 100px;
}
.fr-homepage .section .fr-meta-work {
  font-size: 24px;
  color: #494949;
}
.fr-homepage hr {
  background-color: var(--fr-darkgrey);
  width: 150px;
  height: 0.1px;
  margin-top: 48px;
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .fr-homepage #section1 {
    background-size: 70% !important;
    background-position: 100% 100% !important;
  }
  .fr-homepage .section .fr-number-work {
    font-size: 20px;
  }
  .fr-homepage .section .fr-title-work {
    font-size: 50px;
    line-height: 45px;
  }
  .fr-homepage .section .fr-desc-work {
    font-size: 18px;
    margin-bottom: 60px;
  }
  .fr-homepage .section .fr-meta-work {
    font-size: 15px;
  }
  .fr-homepage .section hr {
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .fr-homepage .section img.brand {
    width: 70%;
  }
}
.fr-agency .page-header h2 {
  font-family: var(--fr-proximaextrabold);
  font-size: 78px;
}
@media (max-width: 640px) {
  .fr-agency .page-header h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
.fr-agency .page-header p {
  font-size: 46px;
  font-family: var(--fr-proximasemibold);
  line-height: 55px;
}
@media (max-width: 640px) {
  .fr-agency .page-header p {
    font-size: 24px;
    line-height: inherit;
  }
}
.fr-agency .btn-round {
  border-radius: 100px;
  border-color: #898989 !important;
  width: 300px;
  line-height: 65px;
  font-size: 24px;
  font-family: var(--fr-proximasemibold);
}
@media (max-width: 640px) {
  .fr-agency .btn-round {
    width: 90%;
    line-height: 40px;
    font-size: 18px;
  }
}
.fr-agency .fr-brand h3 {
  font-size: 28px;
  font-family: var(--fr-proximasemibold);
  color: #bcbcbc;
}
@media (max-width: 640px) {
  .fr-agency .fr-brand h3 {
    text-align: center;
  }
}
.fr-services .page-header h2 {
  font-family: var(--fr-proximaextrabold);
  font-size: 78px;
}
@media (max-width: 640px) {
  .fr-services .page-header h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
.fr-services .page-header p {
  font-size: 32px;
  font-family: var(--fr-proximaextrabold);
}
@media (max-width: 640px) {
  .fr-services .page-header p {
    font-size: 24px;
  }
}
.fr-services h5 {
  font-family: var(--fr-proximasemibold);
}
.fr-services h3 {
  font-family: var(--fr-proximaregular);
  position: relative;
}
.fr-services h3 small {
  position: absolute;
}
.fr-services p {
  font-size: 14px;
  font-family: var(--fr-sanfransisco);
}
@media (min-width: 1024px) {
  .fr-services .pr-break {
    padding-right: 100px;
  }
}
@media (max-width: 1024px) {
  .fr-services .text-headunderline {
    min-height: 65px;
  }
  .fr-services .pr-break {
    padding-right: 50px;
  }
}
@media (max-width: 667px) {
  .fr-services .text-headunderline {
    min-height: inherit;
  }
  .fr-services .pr-break {
    padding-right: 0;
  }
}
.fr-services .what-wedo h2 {
  color: #0a183a;
  font-family: var(--fr-proximaextrabold);
}
.fr-services .what-wedo p {
  font-family: var(--fr-proximasemibold);
  font-size: 34px;
}
@media (max-width: 768px) {
  .fr-services .what-wedo p {
    font-size: 18px;
  }
}
.fr-services .fr-how h2 {
  font-family: var(--fr-proximasemibold);
  font-size: 46px;
  line-height: 55px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .fr-services .fr-how h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }
}
.fr-services .fr-how h3 {
  font-family: var(--fr-proximaextrabold);
  font-size: 42px;
}
@media (max-width: 768px) {
  .fr-services .fr-how h3 {
    font-size: 24px;
    margin-top: 50px;
  }
}
.fr-work .fr-filter {
  position: relative;
  z-index: 1000;
}
.fr-work .fr-filter h2 {
  font-family: var(--fr-proximaextrabold);
  font-size: 45px;
}
.fr-work .fr-categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.fr-work .fr-categories ul li {
  display: inline-block;
  padding: 0;
  line-height: 24px;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: var(--fr-proximasemibold);
  font-size: 18px;
}
.fr-work .fr-categories ul li a {
  display: block;
  padding: 10px 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fr-work .fr-categories ul li a:active,
.fr-work .fr-categories ul li ahover {
  line-height: 24px;
  color: #606060;
  text-decoration: none;
}
.fr-work .fr-categories ul .active {
  font-family: var(--fr-proximaextrabold);
  position: relative;
  color: var(--fr-blue);
}
.fr-work .fr-categories ul .active:after {
  content: '';
  width: 6px;
  height: 6px;
  margin: 0 auto;
  display: block;
  background: var(--fr-blue);
  border-radius: 100%;
}
.fr-work .projects-container .row {
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}
.fr-work .portfolio-item {
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.fr-work .portfolio-item.filtered {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.2;
  cursor: default;
  display: none;
}
.fr-work .no-opacity .portfolio-item.filtered {
  display: none;
}
.fr-work .portfolio-item.filtered a {
  cursor: default;
}
.fr-work .portfolio-thumb {
  display: block;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.fr-work .scrollimation .portfolio-thumb {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
.fr-work .scrollimation .portfolio-thumb.in {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
.fr-work .portfolio-thumb .overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.fr-work .portfolio-thumb:hover .overlay-mask {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.fr-work .portfolio-thumb .project-title {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -100px;
  margin: 0;
  padding: 40px;
  font-size: 35px;
  color: var(--fr-white);
  font-family: var(--fr-proximaextrabold);
  z-index: 2;
  -webkit-transition: bottom 0.4s ease-out, color 0.2s ease-out;
  transition: bottom 0.4s ease-out, color 0.2s ease-out;
}
.fr-work .portfolio-thumb:hover .project-title {
  bottom: 0;
  -webkit-transition: bottom 0.3s ease-out 0.1s, color 0.2s ease-out 0s;
  transition: bottom 0.3s ease-out 0.1s, color 0.2s ease-out 0s;
}
.fr-work .portfolio-thumb .project-title img {
  display: block;
  position: absolute;
  bottom: 38px;
  left: -100px;
  -webkit-transition: left 0.4s ease-out, color 0.2s ease-out;
  transition: left 0.4s ease-out, color 0.2s ease-out;
}
.fr-work .portfolio-thumb:hover .project-title img {
  bottom: 45px;
  left: 230px;
  -webkit-transition: left 0.3s ease-out 0.1s, color 0.2s ease-out 0s;
  transition: left 0.3s ease-out 0.1s, color 0.2s ease-out 0s;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
.fr-work.single .page-header {
  padding-top: 100px;
}
.fr-work.single h3 {
  font-family: var(--fr-proximaextrabold);
  font-size: 45px;
}
@media (max-width: 640px) {
  .fr-work.single h3 {
    font-size: 28px;
  }
}
.fr-work.single h4 {
  padding-left: 130px;
}
.fr-work.single .text-headunderline:after {
  background: var(--fr-black);
  width: 100px;
  bottom: 10px;
}
.fr-work.single .fr-summary {
  padding: 80px 0;
}
.fr-work.single .fr-summary h2 {
  font-size: 45px;
  font-family: var(--fr-proximaextrabold);
}
.fr-work.single .fr-summary h3 {
  font-size: 28px;
  font-family: var(--fr-proximaextrabold);
}
.fr-work.single .fr-summary p {
  font-size: 20px;
  font-family: var(--fr-proximaregular);
}
.fr-work.single .fr-summary .fr-detail-2 {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .fr-work.single .fr-summary .fr-detail-2 {
    padding-top: 60px;
  }
}
.fr-jobs {
  font-family: var(--fr-proximaregular);
}
.fr-jobs a:hover {
  color: var(--fr-black);
}
.fr-jobs .page-header h2 {
  font-size: 200px;
  font-family: var(--fr-proximaextrabold);
}
@media (max-width: 768px) {
  .fr-jobs .page-header h2 {
    font-size: 98px;
  }
}
@media (max-width: 640px) {
  .fr-jobs .page-header h2 {
    font-size: 48px;
  }
}
.fr-jobs .page-header p {
  font-size: 26px;
}
.fr-jobs .page-header .text-headunderline::after {
  width: 100px;
  top: 20px;
  right: 200px;
  left: inherit;
  bottom: inherit;
}
@media (max-width: 768px) {
  .fr-jobs .page-header .col-lg-4 {
    order: 1;
  }
  .fr-jobs .page-header .col-lg-8 {
    order: 2;
  }
}
.fr-jobs .fr-summary {
  font-size: 20px;
  font-family: var(--fr-proximaregular);
}
.fr-jobs .list-requirement ul li {
  font-size: 20px;
}
.fr-jobs .list-requirement h3 {
  font-family: var(--fr-proximaextrabold);
}
.fr-jobs .fr-jobs-list h3 {
  font-size: 40px;
  font-family: var(--fr-proximaextrabold);
}
@media (max-width: 640px) {
  .fr-jobs .fr-jobs-list h3 {
    font-size: 18px;
  }
}
.fr-jobs .fr-jobs-list h4 {
  font-size: 26px;
  font-family: var(--fr-proximaregular);
}
@media (max-width: 640px) {
  .fr-jobs .fr-jobs-list h4 {
    font-size: 14px;
  }
}
.fr-jobs.single .page-header h2 {
  font-size: 100px;
}
@media (max-width: 768px) {
  .fr-jobs.single .page-header h2 {
    font-size: 72px;
  }
}
@media (max-width: 640px) {
  .fr-jobs.single .page-header h2 {
    font-size: 48px;
  }
}
.fr-jobs.single .page-header h3 {
  font-size: 28px;
  font-family: var(--fr-proximaextrabold);
}
.fr-jobs.single ul {
  list-style-type: none;
}
.fr-jobs.single ul li {
  position: relative;
}
.fr-jobs.single ul li:before {
  content: "";
  background: url(../assets/images/list.svg) no-repeat;
  position: absolute;
  width: 30px;
  height: 8px;
  left: -40px;
  top: 10px;
}
/*-----------------------------
Contact 
-------------------------------*/
.fr-contact {
  margin-bottom: 120px;
}
.fr-contact .page-header {
  margin-top: 160px;
  margin-bottom: 260px;
}
@media (max-width: 768px) {
  .fr-contact .page-header {
    margin: 60px 0;
  }
}
.fr-contact .page-header h2 {
  font-family: var(--fr-proximaextrabold);
  font-size: 78px;
}
@media (max-width: 640px) {
  .fr-contact .page-header h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
.fr-contact .page-header p {
  font-size: 32px;
  font-family: var(--fr-proximaextrabold);
  line-height: 55px;
}
@media (max-width: 640px) {
  .fr-contact .page-header p {
    font-size: 24px;
    line-height: inherit;
  }
}
.fr-contact .fr-contactform label {
  font-family: var(--fr-proximaregular);
  font-size: 28px;
}
@media (max-width: 640px) {
  .fr-contact .fr-contactform label {
    font-size: 16px;
  }
}
.fr-contact .fr-contactform textarea.form-control {
  padding: 20px;
}
.fr-contact .fr-contactform .form-control {
  font-size: 26px;
  font-family: var(--fr-proximaregular);
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 640px) {
  .fr-contact .fr-contactform .form-control {
    font-size: 16px;
  }
}
.fr-contact .fr-contactform .btn-primary {
  color: var(--fr-white) !important;
}
.fr-contact .fr-contactform .btn-lg {
  line-height: 40px;
}
/*-----------------------------
Site-footer
-------------------------------*/
#section0 {
  height: inherit !important;
  overflow: inherit;
}
#section0 .fp-tableCell,
#section0 .fp-scrollable {
  /*height: inherit !important;
        overflow: initial !important;*/
}
#section0 .container {
  padding-top: 50px;
}
#section0 .site-footer {
  padding-top: 0;
}
.site-footer {
  background-color: var(--fr-bluedark);
  color: var(--fr-white);
  font-size: 20px;
  padding-top: 100px;
  font-family: var(--fr-proximaregular);
  height: 100vh;
}
@media (max-width: 1024px) {
  .site-footer {
    padding: 60px 0;
  }
}
@media (max-width: 568px) {
  .site-footer {
    font-size: 14px;
  }
  .site-footer h4 {
    font-size: 18px;
  }
  .site-footer p {
    font-size: 14px;
  }
}
.site-footer a {
  color: var(--fr-white);
}
@media (max-width: 568px) {
  .navbar-nav .nav-link {
    padding: 0 !important;
  }
}
.fr-mainmenu-footer .navbar-nav .nav-link {
  padding: 0;
  padding-right: 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: var(--fr-proximasemibold);
}
@media (max-width: 768px) {
  .fr-mainmenu-footer .navbar-nav .nav-link {
    padding-right: 40px;
  }
}
@media (max-width: 568px) {
  .fr-mainmenu-footer .navbar-nav .nav-link {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .fr-mainmenu-footer .navbar-nav {
    flex-direction: row;
  }
}
@media (max-width: 668px) {
  .fr-mainmenu-footer .navbar-nav {
    flex-direction: column;
  }
}
.fr-subscribes {
  padding-top: 80px;
}
@media (max-width: 1024px) {
  .fr-subscribes {
    padding-top: 60px;
  }
}
.fr-subscribes .form-control {
  width: 90%;
  color: var(--fr-white);
}
.fr-subscribes .form-group {
  border-bottom: 2px solid var(--fr-darkgrey);
}
.fr-subscribes .form-control::-webkit-input-placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-subscribes .form-control::placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-subscribes .form-control:-ms-input-placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-subscribes .form-control::-ms-input-placeholder {
  color: var(--fr-darkgrey);
  font-size: 24px;
}
.fr-copyright {
  font-size: 16px;
  padding-top: 60px;
}
@media (max-width: 667px) {
  .fr-copyright {
    padding-top: 30px;
  }
}
.fr-phonenumber {
  font-family: var(--fr-avenirbook);
}
@media (min-width: 1024px) {
  .fr-contactform .pr-break {
    padding-right: 50px;
  }
  .fr-contactform .pl-break {
    padding-left: 50px;
  }
}
.fr-contactform label {
  font-family: var(--fr-proximaregular);
}
.fr-contactform textarea.form-control {
  border: 2px solid var(--fr-black);
}
.fr-contactform .form-control {
  border-bottom: 2px solid var(--fr-black);
}
/*-----------------------------
Color
-------------------------------*/
